*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #000 url(./images/4.jpg);
    background-size: cover;
    background-blend-mode: hard-light;
}

 .container {
    position: absolute;
    top: 40px;
    left: 100px;
    right: 100px;
    bottom: 50px;
    background: url(./images/4.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5),
                0 0 0 100px rgba(0,0,0,.1);
 }

 .container h2{
    text-align: center;
    font-size: 7em;
    line-height: 0.7em;
    color: #333;
    margin-top: -50px;
 }

 .container h2 span{
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.3em;
 }

 .countdown{
    display: flex;
    margin-top:50px ;
 }

 .countdown div{
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
 }
 .countdown div::before{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ff0;
    color: #333;
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 300;
 }

 .countdown #day::before{
    content: 'Days';
 }

 .countdown #hour::before{
    content: 'Hours';
 }

 .countdown #minute::before{
    content: 'Minutes';
 }

 .countdown #second::before{
    content: 'Seconds';
 }